Missing decoding in basic auth credentials of URL to REST API

Hi guys!

I think there's no decoding of special characters in basic auth credentials of the REST API URL. This breaks the Client if the username and/or password have properly encoded special characters in it.

Some background:

The REST endpoints of the Rabbit management API are secured by simple HTTP basic auth. Basic auth credentials can be put into an URL as follows:

``
https://<USERNAME>:<PASSWORD>@<RABBITHOST>:<RABBITPORT>/api/
``

Special characters in USERNAME and/or PASSWORD must be percent-encoded. (see RFC 1738, section 3.1).

The class com.rabbitmq.http.client.Client offers a constructor that accepts a "String url" as the one and only argument (line 169 of Client.java). This constructor tries to extract the required values "username" and "password" from the "String url" parameter.

The current implementation breaks if the username or password contain properly encoded "special characters". For example the credentials:
* username="testuser"
* password="test@password"

would go into the full URL as follows:

"https://testuser:test%40password@myrabbithost/api/".

However, using this string would result in the extracted password "test%40password" instead of "test@password". The constructor doesn't deocde the special character %40 --> @. That causes "401 unauthorized" failures when calling the Rabbit management API.

This constructor and code path is used in SpringBoot code (e.g. RabbitManagementTemplate).

Thank you!

Looks like according to RFC 3986 sections [3.2.1](https://tools.ietf.org/html/rfc3986#section-3.2.1) and [2.1](https://tools.ietf.org/html/rfc3986#section-3.2.1) the user information subcomponent indeed can use percent-encoded values.

You are welcome to contribute a PR.

Thanks for reporting this, I'm working on a fix.

That was quick, thank you!